[Unit]
Description=Stardock

[Service]
WorkingDirectory=/var/stardock
ExecStart=/bin/bash -c "/var/stardock/bin/stardock"
Restart=always

[Install]
WantedBy=multi-user.target
